<div class="document-card">
    <div class="main-panel">
        <h3>Denuncias Registradas</h3>
      <div *ngFor="let doc of documents" class="item">
        <span class="date">{{ doc.date }}</span>
        <span class="code">{{ doc.code }}</span>
        <span class="code">{{ doc.nombre }}</span>
      </div>
    </div>
    <div class="side-panels">
      <div class="top-panel">
        <h2>Bienvenido</h2>
        <h3>{{this.agente.person.firstName}} {{this.agente.person.lastName}}</h3>
        <h4>{{this.agente.agentType}}</h4>
      </div>
      <div class="bottom-panel"></div>
    </div>
  </div>
  