<div class="lateral-bar" [class.collapsed]="isCollapsed">
    <!--<button class="close-button" (click)="toggleCollapse()">Cerrar</button>-->
    <img  class="close-button" (click)="toggleCollapse()">
    <p *ngIf="!this.isCollapsed" class="lateralbar-title">PoReBo</p>
    <button *ngIf="!this.isCollapsed" class="btnMenu" (click)="irRegistrarActa()">Registrar Acta</button>
    <button *ngIf="!this.isCollapsed" class="btnMenu" (click)="irBuscarActa()">Buscar Acta</button>
    <div *ngIf="!this.isCollapsed" class="bottom-button-container">
        <button class="btnMenu">Cerrar Sesión</button>
    </div>
</div>