<!--https://cdn.www.gob.pe/uploads/document/file/1526234/PROTOCOLOS-DE-ACTUACI%C3%93N-INTERINSTITUCIONAL-VERSI%C3%93N-FINAL%20%281%29.pdf.pdf-->
<div class="container">

  <div class="card">
    <form *ngIf="this.cardSelected ==1">
      <h3>Recepción de Denuncia Verbal</h3>

      <div class="row">
        <label class="labelForm">Dependencia policial</label>
        <input type="text" disabled class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Locación</label>
        <div class="sub-row">
          <label class="labelForm">Distrito</label>
          <input type="text" disabled class="inputStyle">
          <label class="labelForm">Provincia</label>
          <input type="text" disabled class="inputStyle">
          <label class="labelForm">Departamento</label>
          <input type="text" disabled class="inputStyle">
        </div>
      </div>

      <div class="row">
        <label class="labelForm">Hora registros</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Personal a cargo</label>
        <input type="text" disabled class="inputStyle">
      </div>
      <h3>Denunciante</h3>

      <div class="row">
        <label class="labelForm">Tipo de Documento</label>
        <select>
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
        </select>
        <label class="labelForm">Número</label>
        <input type="number" pattern="\d*" class="inputStyle">
        <button>Buscar</button>
      </div>
      <div class="row">
        <label class="labelForm">Nombres</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Apellidos</label>
        <input type="text" disabled class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Domicilio</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Descripción de Vivienda</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Referencia</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Domicilio de Transito</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Domicilio Procesal</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Motivo de Localidad</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Edad</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Sexo</label>
        <input type="text" disabled class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Teléfono particular</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Teléfono de Referencia</label>
        <input type="text" disabled class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Email</label>
        <input type="email" disabled class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Grado de Instrucción</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Nacionalidad</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Fecha de Nacimiento</label>
        <input type="date" disabled class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Estado Civil</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Nombre Cónyuge</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Lengua Materna</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Ocupación</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Lugar de Labores</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Horario</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Relación con la víctima o agraviado</label>
        <input type="text" class="inputStyle">
      </div>
    </form>
    <form *ngIf="this.cardSelected ==2">

      <h3>Denunciado</h3>

      <div class="row">
        <label class="labelForm">Tipo de Documento</label>
          <select>
            <option>Item 1</option>
            <option>Item 2</option>
            <option>Item 3</option>
          </select>
        <label class="labelForm">Número</label>
        <input type="number" pattern="\d*" class="inputStyle">
        <button>Buscar</button>
      </div>
      <div class="row">
        <label class="labelForm">Nombres</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Apellidos</label>
        <input type="text" disabled class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Domicilio</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Descripción de Vivienda</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Referencia</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Domicilio de Transito</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Edad</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Sexo</label>
        <input type="text" disabled class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Teléfono particular</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Teléfono de Referencia</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Email</label>
        <input type="email" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Redes Sociales</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Caracteristicas físicas</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Sobrenombre</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Lenguamterna</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Nombre de sus padres</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Nombre del cónyuge</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Nacionalidad</label>
        <input type="text" disabled class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Actividad laboral u ocupación</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Lugar de trabajo</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Horario de trabajo</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Motivo por el que se encuentra en la localidad</label>
        <input type="text" class="inputStyle">
      </div>
    </form>
    <form *ngIf="this.cardSelected ==3">

      <h3>Grado Parentesco con el/la denunciado/a - Consanguinidad o Afinidad</h3>

      <div class="row">
        <label class="labelForm">Tipo de Documento</label>
          <select>
            <option>Item 1</option>
            <option>Item 2</option>
            <option>Item 3</option>
          </select>
        <label class="labelForm">Número</label>
        <input type="number" pattern="\d*" class="inputStyle">
        <button>Buscar</button>
      </div>
      <div class="row">
        <label class="labelForm">Nombres</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Apellidos</label>
        <input type="text" disabled class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Domicilio</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Descripción de Vivienda</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Referencia</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Domicilio de Transito</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Edad</label>
        <input type="text" disabled class="inputStyle">
        <label class="labelForm">Sexo</label>
        <input type="text" disabled class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Teléfono particular</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Teléfono de Referencia</label>
        <input type="text" class="inputStyle">
      </div>

      <div class="row">
        <label class="labelForm">Email</label>
        <input type="email" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Redes Sociales</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Caracteristicas físicas</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Sobrenombre</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Lenguamterna</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Nombre de sus padres</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Nombre del cónyuge</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Nacionalidad</label>
        <input type="text" disabled class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Actividad laboral u ocupación</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Lugar de trabajo</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Horario de trabajo</label>
        <input type="text" class="inputStyle">
      </div>
      <div class="row">
        <label class="labelForm">Motivo por el que se encuentra en la localidad</label>
        <input type="text" class="inputStyle">
      </div>
    </form>
  </div>
  <div class="button-container">
    <button class="button-37" (click)="nextCard()">Siguiente</button>
    <button class="button-37" (click)="previousCard()">Atras</button>
    <button class="button-37">Editar</button>
  </div>
</div>