<div class="card">
    <form>
      <div class="row">
        <input type="text" placeholder="DNI" class="inputStyle">
        <button>Botón</button>
      </div>
      <div class="row">
        <input type="text" placeholder="Nombre" disabled>
        <input type="text" placeholder="Apellidos" disabled>
        <input type="text" placeholder="Dirección" disabled>
      </div>
      <div class="row">
        <input type="text" placeholder="País" disabled>
        <input type="text" placeholder="Departamento" disabled>
        <input type="text" placeholder="Distrito" disabled>
      </div>
      <div class="row">
        <input type="text" placeholder="DNI Denunciado">
        <button>Botón</button>
      </div>
      <div class="row">
        <input type="text" placeholder="Nombre Denunciado" disabled>
        <input type="text" placeholder="Apellidos Denunciado" disabled>
        <input type="text" placeholder="Dirección Denunciado" disabled>
      </div>
      <div class="row">
        <label>Hecho</label>
        <textarea></textarea>
      </div>
      <div class="row">
        <input type="text" placeholder="Policía" disabled>
        <input type="text" placeholder="Cargo" disabled>
        <input type="text" placeholder="Número CIP" disabled>
      </div>
      <div class="row">
        <input type="text" placeholder="Nombre Comisaría" disabled>
        <input type="text" placeholder="Dirección Comisaría" disabled>
      </div>
      <div class="row">
        <label>Tipo de Denuncia</label>
        <select>
          <option>ejemplo1</option>
          <option>ejemplo2</option>
          <option>ejemplo3</option>
        </select>
      </div>
      <div class="row">
        <button type="submit" class="center-button">Registrar Denuncia</button>
      </div>
    </form>
  </div>
  