<!--https://cdn.www.gob.pe/uploads/document/file/1526234/PROTOCOLOS-DE-ACTUACI%C3%93N-INTERINSTITUCIONAL-VERSI%C3%93N-FINAL%20%281%29.pdf.pdf-->
<div class="container">

  <div class="card">
    <form *ngIf="this.cardSelected ==1" [formGroup]="personaForm">
      <h3>Recepción de Denuncia Verbal</h3>
      <div class="row">
        <label class="labelForm">Dependencia policial :</label>
        <input type="text"  class="inputStyle" formControlName="dependencianame" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Departamento :</label>
        <input type="text"  class="inputStyle" formControlName="dependenciadepartamento" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Provincia :</label>
        <input type="text"  class="inputStyle" formControlName="dependenciaprovincia" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Distrito :</label>
        <input type="text"  class="inputStyle" formControlName="dependenciadistrito" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Hora Registro :</label>
        <input type="text" class="inputStyle" formControlName="timeRegister" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Personal a cargo : </label>
        <input type="text"  class="inputStyle"  formControlName ="policiaCargo">
      </div>

      <h3>Denunciante</h3>
      <div class="row">
        <label class="labelForm">Tipo de Documento</label>
        <select>
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
        </select>
        <label class="labelForm">Número</label>
        <input #dniDenunciante pattern="\d*" class="inputStyle">
        <button type="button" (click)="buscarByID(dniDenunciante.value)">Buscar</button>
      </div>
      <div class="row">
        <label class="labelForm">Nombres</label>
        <input type="text"  class="inputStyle" formControlName="firstName" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Apellidos</label>
        <input type="text"  class="inputStyle" formControlName="lastName" [attr.disabled]="isDisabled ? true : null">
      </div>
      <div class="row">
        <label class="labelForm">Domicilio</label>
        <input type="text" class="inputStyle" formControlName="address" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Descripción de Vivienda</label>
        <input type="text" class="inputStyle" formControlName="descriptionAddress" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Referencia</label>
        <input type="text" class="inputStyle" formControlName="referenceAddress" [attr.disabled]="isDisabled ? true : null">
      </div>


      <div class="row">
        <label class="labelForm">Nacionalidad</label>
        <input type="text" class="inputStyle" formControlName="country" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Fecha Nacimiento</label>
        <input type="text" class="inputStyle" formControlName="dateOfbirth" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Sexo</label>
        <input type="text" class="inputStyle" formControlName="gender" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Teléfono particular</label>
        <input type="text" class="inputStyle" formControlName="phone" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Email</label>
        <input type="email" class="inputStyle" formControlName="email" [attr.disabled]="true">
      </div>

      <div class="row">
        <label class="labelForm">Estado Civil</label>
        <input type="text" class="inputStyle" formControlName="maritalStatus" [disabled]=false >
        <label class="labelForm">Nombre Cónyuge</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Lengua Materna</label>
        <input type="text" class="inputStyle" formControlName="nativeLanguage" [attr.disabled]="isDisabled ? true : null">
      </div>
      <div class="row">
        <button class="button-37" (click)="previousCard()">Atras</button>
        <button class="button-37" (click)="nextCard()">Siguiente</button>
      </div>
    </form>
    <form *ngIf="this.cardSelected ==2" [formGroup]="denunciadoForm">

      <h3>Denunciado</h3>

      <div class="row">
        <label class="labelForm">Tipo de Documento</label>
        <select>
          <option>Item 1</option>
          <option>Item 2</option>
          <option>Item 3</option>
        </select>
        <label class="labelForm">Número</label>
        <input #DniDenunciado  pattern="\d*" class="inputStyle">
        <button type="button" (click)="buscarDenunciado(DniDenunciado.value)" >Buscar</button>
      </div>
      <div class="row">
        <label class="labelForm">Nombres</label>
        <input type="text" class="inputStyle" formControlName="firstName" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Apellidos</label>
        <input type="text" class="inputStyle" formControlName="lastName" [attr.disabled]="isDisabled ? true : null">
      </div>
      
      <div class="row">
        <label class="labelForm">Caracteristicas o rasgos</label>
        <input type="text" class="inputStyle">
        </div>
      <div class="row">
        <label class="labelForm">Domicilio</label>
        <input type="text" class="inputStyle" formControlName="address" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Descripción de Vivienda</label>
        <input type="text" class="inputStyle" formControlName="descriptionAddress" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Referencia</label>
        <input type="text" class="inputStyle" formControlName="referenceAddress" [attr.disabled]="isDisabled ? true : null">
      </div>


      <div class="row">
        <label class="labelForm">Nacionalidad</label>
        <input type="text" class="inputStyle" formControlName="country" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Fecha Nacimiento</label>
        <input type="text" class="inputStyle" formControlName="dateOfbirth" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Sexo</label>
        <input type="text" class="inputStyle" formControlName="gender" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Teléfono particular</label>
        <input type="text" class="inputStyle" formControlName="phone" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Email</label>
        <input type="email" class="inputStyle" formControlName="email" [attr.disabled]="isDisabled ? true : null">
      </div>

      <div class="row">
        <label class="labelForm">Estado Civil</label>
        <input type="text" class="inputStyle" formControlName="maritalStatus" [attr.disabled]="isDisabled ? true : null">
        <label class="labelForm">Nombre Cónyuge</label>
        <input type="text" class="inputStyle">
        <label class="labelForm">Lengua Materna</label>
        <input type="text" class="inputStyle" formControlName="nativeLanguage" [attr.disabled]="isDisabled ? true : null">
      </div>
      <div class="row">
        <button class="button-37" (click)="previousCard()">Atras</button>
        <button class="button-37" (click)="nextCard()">Siguiente</button>
      </div>
    </form>
    <form *ngIf="this.cardSelected ==3" [formGroup]="parentescoForm" >
      <h3>Grado Parentesco con el/la denunciado/a - Consanguinidad o Afinidad</h3>
      <div class="row">
        <label class="labelForm">Describa el grado de parectesto con respecto al denuncaido/a</label>
      </div>
      <div class="row">
        <input #parentescoInput type="text"  class="inputStyle" formControlName="parentesco">
      </div>
      <div class="row-exception">
        <div class="col-12">
          <p>El Personal policial, le informó a la víctima que le asisten los siguientes derechos:</p>
          <ul class="custom-list">
            <li>A recibir un trato digno y respetuoso por parte de las autoridades competentes.</li>
            <li>A la protección de su integridad, incluyendo la de su familia.</li>
            <li>A que se preserve su identidad en los procesos por delitos contra la libertad sexual.</li>
            <li>A ser informado/a, a su solicitud, de los resultados de la actuación en que haya intervenido, así como
              del resultado del procedimiento, aún cuando no haya intervenido.</li>
            <li>A ser escuchado/a antes de cada decisión que implique la extinción o suspensión de la acción penal,
              siempre que lo soliciten.</li>
            <li>A impugnar el sobreseimiento y la sentencia absolutoria, así como a impugnar la disposición de no
              formalización de investigación preparatoria.</li>
            <li>A ser acompañado/a por una persona de su confianza durante las actuaciones en las que intervenga, si
              el/la agraviado/a fuera niño, niña, adolescente e incapaz.</li>
            <li>A reclamar la reparación y, en su caso, los daños y perjuicios, si se constituye en actor civil.</li>
          </ul>
        </div>
      </div>
      <div class="row-exception">
        <div class="col-12">
          <p>Así como, tiene los siguientes deberes:</p>
          <ul class="custom-list">
            <li>Acudir a las diligencias a las que sea citado.</li>
            <li>Declarar como testigo en las actuaciones de investigación y en juicio oral.</li>
            <li>Colaborar con el esclarecimiento del hecho delictivo y la intervención de los responsables.</li>
          </ul>
          <p>Debiendo decir la verdad, bajo apercibimiento de ser denunciado/a por el delito de denuncia calumniosa.</p>
        </div>
      </div>
      <div class="row">
        <button class="button-37" (click)="previousCard()">Atras</button>
        <button  class="button-37" type="button" (click)="siguienteFormParentesco(parentescoInput.value)" >Siguiente</button>
      </div>
    </form>
    <form *ngIf="this.cardSelected ==4" [formGroup]="hechoForm">
      <h3>Hora (24HRS), día, mes, año y lugar donde ocurrión el hecho que se denuncia</h3>
      <div class="row">
        <input #timeHecho type="text" class="inputStyle" formControlName="tiempo" >
      </div>
      <h3>Descripción del hecho</h3>
      <div class="row">
        <textarea #dataHecho class="txtAreaStyle" name="" id="" cols="30" rows="10" formControlName="hecho"></textarea> 
      </div>
      <div class="row">
        <button class="button-37" (click)="previousCard()">Atras</button>
        <button class="button-37" type="button" (click)="siguienteSaveHecho(timeHecho.value,dataHecho.value)" >Siguiente</button>
      </div>
    </form>
    <form *ngIf="this.cardSelected ==5" [formGroup]="adicionalForm">
      <div class="row">
        <label class="labelForm">La denuncia fue reportada anteriormente : </label>
        <label class="custom-checkbox">
          <input #isReportada type="checkbox" formControlName="reportada">
          <span class="checkmark"></span>
        </label>
      </div>
      <h3>Evidencias del hecho</h3>
      <div class="row">
        <textarea #evidenciasValue class="txtAreaStyle" name="" id="" cols="80" rows="10" formControlName="evidencias"></textarea> 
      </div>
      <h3>Informacion adicional al hecho</h3>
      <div class="row">
        <textarea #hechoAdicional class="txtAreaStyle" name="" id="" cols="80" rows="10" formControlName="adicional"></textarea> 
      </div>
      <div class="row">
        <label class="labelForm">Croquis (URL)</label>
        <input #croquisValue type="text" class="inputStyle" formControlName="croquis">
      </div>  
      <div class="row">
        <button class="button-37" (click)="previousCard()">Atras</button>
        <button class="button-37" type="button" (click)="registrarDenuncia(isReportada.checked,evidenciasValue.value,hechoAdicional.value,croquisValue.value)" >Registrar Denuncia</button>
      </div>    
    </form>
    <form *ngIf="this.cardSelected ==6" [formGroup]="registroForm">
      <div class="row">
        <button class="button-37" (click)="previousCard()">Atras</button>
        <button class="button-37" type="button" (click)="generarPDF()" >Registrar PDF</button>
      </div>
    </form>
  </div>
</div>